{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    //Instruct babel to compile against current version of node and allows use of expressions such as aync/await
                    "node": "current"
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "react-hot-loader/babel"
    ]
}